
.image {
    margin-left: 100px;
    margin-right:200px;
}
form {
    display:block;
    border-top-style:solid;
    border-top-color: lightgray;
    border-top-width: 2px;
    padding: 20px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    border-bottom-width: 2px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    Border:1px solid black;
    text-align: left;
    padding: 8px;
}
select{
    margin-left: 100px;
    margin-right: 200px;
}

.comments{
  position: relative;
}
.Link {
  position: relative;
}